/****** Object:  Database [Greek Airbnb]    Script Date: 23/3/2026 8:58:49 μμ ******/
CREATE DATABASE [Greek Airbnb] COLLATE Greek_CI_AI;
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Greek Airbnb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Greek Airbnb.mdf' , SIZE = 1056768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Greek Airbnb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Greek Airbnb_log.ldf' , SIZE = 2760704KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF


USE [Greek Airbnb]

/****** Object:  Table [dbo].[bookings]    Script Date: 23/3/2026 8:58:49 μμ ******/

CREATE TABLE [dbo].[bookings](
	[listing_id] [bigint] NOT NULL,
	[date] [date] NOT NULL,
	[available] [varchar](3) NULL,
	[price] [varchar](50) NULL,
	[adjusted_price] [varchar](50) NULL,
	[minimum_nights] [int] NULL,
	[maximum_nights] [int] NULL
) ON [PRIMARY]


/****** Object:  Table [dbo].[listings]    Script Date: 23/3/2026 8:58:49 μμ ******/

CREATE TABLE [dbo].[listings](
	[listing_id] [bigint] NOT NULL,
	[listing_url] [nvarchar](50) NULL,
	[scrape_id] [datetime2](7) NULL,
	[last_scraped] [date] NULL,
	[source] [nvarchar](50) NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](1050) NULL,
	[neighborhood_overview] [nvarchar](1050) NULL,
	[picture_url] [nvarchar](150) NULL,
	[host_id] [int] NOT NULL,
	[host_url] [nvarchar](50) NULL,
	[host_name] [nvarchar](50) NULL,
	[host_since] [date] NULL,
	[host_location] [nvarchar](50) NULL,
	[host_about] [nvarchar](max) NULL,
	[host_response_time] [nvarchar](50) NULL,
	[host_response_rate] [nvarchar](50) NULL,
	[host_acceptance_rate] [nvarchar](50) NULL,
	[host_is_superhost] [bit] NULL,
	[host_thumbnail_url] [nvarchar](150) NULL,
	[host_picture_url] [nvarchar](150) NULL,
	[host_neighbourhood] [nvarchar](50) NULL,
	[host_listings_count] [int] NULL,
	[host_total_listings_count] [int] NULL,
	[host_verifications] [nvarchar](50) NULL,
	[host_has_profile_pic] [bit] NULL,
	[host_identity_verified] [bit] NULL,
	[neighbourhood] [nvarchar](150) NULL,
	[neighbourhood_cleansed] [nvarchar](50) NULL,
	[neighbourhood_group_cleansed] [nvarchar](1) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[property_type] [nvarchar](50) NULL,
	[room_type] [nvarchar](50) NULL,
	[accommodates] [tinyint] NULL,
	[bathrooms] [nvarchar](1) NULL,
	[bathrooms_text] [nvarchar](50) NULL,
	[bedrooms] [tinyint] NULL,
	[beds] [tinyint] NULL,
	[amenities] [nvarchar](3550) NULL,
	[price] [nvarchar](50) NULL,
	[minimum_nights] [smallint] NULL,
	[maximum_nights] [smallint] NULL,
	[minimum_minimum_nights] [smallint] NULL,
	[maximum_minimum_nights] [smallint] NULL,
	[minimum_maximum_nights] [smallint] NULL,
	[maximum_maximum_nights] [smallint] NULL,
	[minimum_nights_avg_ntm] [float] NULL,
	[maximum_nights_avg_ntm] [float] NULL,
	[calendar_updated] [nvarchar](1) NULL,
	[has_availability] [bit] NULL,
	[availability_30] [tinyint] NULL,
	[availability_60] [tinyint] NULL,
	[availability_90] [tinyint] NULL,
	[availability_365] [smallint] NULL,
	[calendar_last_scraped] [date] NULL,
	[number_of_reviews] [smallint] NULL,
	[number_of_reviews_ltm] [tinyint] NULL,
	[number_of_reviews_l30d] [tinyint] NULL,
	[first_review] [date] NULL,
	[last_review] [date] NULL,
	[review_scores_rating] [float] NULL,
	[review_scores_accuracy] [float] NULL,
	[review_scores_cleanliness] [float] NULL,
	[review_scores_checkin] [float] NULL,
	[review_scores_communication] [float] NULL,
	[review_scores_location] [float] NULL,
	[review_scores_value] [float] NULL,
	[license] [nvarchar](50) NULL,
	[instant_bookable] [bit] NULL,
	[calculated_host_listings_count] [tinyint] NULL,
	[calculated_host_listings_count_entire_homes] [tinyint] NULL,
	[calculated_host_listings_count_private_rooms] [tinyint] NULL,
	[calculated_host_listings_count_shared_rooms] [tinyint] NULL,
	[reviews_per_month] [float] NULL,
 CONSTRAINT [PK_Listings] PRIMARY KEY CLUSTERED 
(
	[listing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] 

/****** Object:  Table [dbo].[reviews]    Script Date: 23/3/2026 8:58:49 μμ ******/
CREATE TABLE [dbo].[reviews](
	[listing_id] [bigint] NOT NULL,
	[review_id] [bigint] NOT NULL,
	[date] [date] NOT NULL,
	[reviewer_id] [int] NOT NULL,
	[reviewer_name] [nvarchar](50) NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_listings] FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([listing_id])


ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_listings] FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([listing_id])

ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_listings]

--Delete duplicate listings
WITH CTE AS (
SELECT
id,
ROW_NUMBER() OVER (PARTITION BY id ORDER BY id) AS RowNum
FROM listings
)
DELETE FROM listings
WHERE id IN (
SELECT id
FROM CTE
WHERE RowNum > 1
);